<div class="title-bar" data-responsive-toggle="new-in-town-menu" data-hide-for="medium">
  <button class="menu-icon title-bar-left" type="button" data-toggle></button>
</div>

<div class="top-bar" id="new-in-town-menu">
  <ul class="vertical medium-horizontal menu">
    <li><a href="http://new-in-town.uk">Home</a></li>
    <li><a href="http://new-in-town.uk/work">Work</a></li>
    <li><a href="http://new-in-town.uk/play/#allposts" class="active">Play</a></li>
    <li><a href="http://new-in-town.uk/contact">Contact</a></li>
  </ul>
</div>

